@import "tailwindcss";

@theme{
    --breakpoint-vs:320px;
    --breakpoint-sm:480px;
    --breakpoint-md:768px;
    --breakpoint-lg:976px;
    --breakpoint-xl:1440px;
    --color-primary:#071922;
    --color-secondary:#FAF3E0;
    --color-text:#B8902D;
    --color-background:#d1d5dc;
}
.rhap_progress-container,
.rhap_progress-bar {
  direction: ltr !important; 
}

.custom-audio-player {
  background-color: #071922 !important; 
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  font-size: 18px;
  height: 500px;
  min-width:290px;
  margin-left: auto;
  margin-right: auto;
 
}

.custom-audio-player .rhap_button-clear {
  color: #B8902D !important;
  transform: scale(1.3); 
  transition: all 0.3s ease;
}

.custom-audio-player .rhap_button-clear:hover {
  color: #B8902D !important; 
  transform: scale(1.5);
}


.custom-audio-player .rhap_progress-bar {
  background-color: rgba(255, 215, 0, 0.2) !important;
  height: 8px !important;
  border-radius: 4px;
}

.custom-audio-player .rhap_progress-filled {
  background-color: #B8902D !important;
}

.custom-audio-player .rhap_progress-indicator {
  background-color: #B8902D !important;
  width: 22px !important;
  height: 22px !important;
}

.custom-audio-player .rhap_volume-bar {
  background-color: rgba(255, 215, 0, 0.2) !important;
}
.custom-audio-player .rhap_volume-indicator {
  background-color: #B8902D !important;
}

.custom-audio-player .rhap_time {
  color: #f0e6cc !important;
  font-size: 15px;
}

html{
  scroll-behavior: smooth;
}

#page-left,
#page-right {
  transform: rotateY(0deg);          /* الوضع الطبيعي */
  transform-origin: center left;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;   /* عشان التقليب يبقى ناعم */
}

#page-right {
  transform-origin: center right;
}

#page-left {
  transform-origin: center left;
}
.flip-next {
  transform: rotateY(-180deg);
}

.flip-prev {
  transform: rotateY(180deg);
}
